html,
body {
  height: 100%;
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

.header {
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: var(--white);
  max-width: 130px;
  margin: 0 auto;
}

.container>h3 {
  text-align: center;
}

.header img {
  height: auto;
  display: block;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.footer {
  background-color: var(--white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}


.switchContainer {
  display: flex;
  align-items: center;
}

.switchLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.switchInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 50px;
  height: 28px;
  background-color: var(--inactive);
  border-radius: 50px;
  position: relative;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.slider::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switchInput:checked+.slider {
  background: var(--active);
}

.switchInput:checked+.slider::before {
  transform: translateX(22px);
}

.switchInput:focus+.slider {
  outline: 2px solid var(--active);
  outline-offset: 2px;
}

.switchText {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text)
}

.profileButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  color: #667eea;
  border-radius: 50%;
  padding: 0.3rem;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.25s ease;
}

.profileButton img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profileButton:hover {
  color: #fff;
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
    gap: 1.5rem;
  }

  .footerContent {
    flex-direction: column;
    gap: 1rem;
  }

  .header {
    padding: 1rem;
  }

  .header img {
    max-width: 110px;
  }

  .profileButton {
    width: 100%;
    justify-content: center;
  }
}