@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: "Kodchasan", "Inter", sans-serif;

  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --font-smaller: 0.75rem;
  --font-small: 0.875rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-larger: 2rem;

  --primary: #787CC2;
  --text: #1E1E1E;
  --white: #EDEDED;
  --active: #AEF044;
  --inactive: #C90E0E;
  --blue: #2563EB;


}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #1E1E1E;
    --text: #EDEDED;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-width: 320px;
}

#root {
  width: 100%;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #667eea;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
